# Laravel
birdwatch-app/vendor/
birdwatch-app/node_modules/
birdwatch-app/.env
birdwatch-app/.env.*
!birdwatch-app/.env.example
birdwatch-app/storage/*.key

# Docker
.pgdata/
pgdata/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Logs & cache
birdwatch-app/storage/logs/
birdwatch-app/storage/framework/cache/
birdwatch-app/storage/framework/sessions/
birdwatch-app/storage/framework/views/

# PHPUnit
.phpunit.result.cache